<h1>make it cheaper</h1>
<h3>Welcome to the new, fairer way to switch your business utilities</h3>
<br>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<% if flash.now[:errors] && flash.now[:errors] != [] %>
  <ul class="error_list">
  <% flash.now[:errors].each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% elsif flash.now[:errors] == [] %>
  <ul class="successful_request">
    <li><%= "Thank you! Your request was submitted successfully! Makeitcheaper will contact you soon." %></li>
  </ul>
<% end %>

<h2>Submit your contact details for a callback:</h2>
<br>
<div class="container">
  <%= bootstrap_form_for("contact_form", method: "post", :class => 'form-inline') do |f| %>
    <div class="form-group">
      <%= f.text_field :first_name_last_name, class: 'form-control', autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.text_field :business_name, class: 'form-control', autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.text_field :telephone_number, class: 'form-control', autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.text_field :email, class: 'form-control', autofocus: true %>
    </div>
    <%= f.submit "Submit", method: "post", class: 'btn btn-default btn-lg btn-submit' %>
  <% end %>
</div>
